<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <div class="spinner"></div>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div div class="body-content">
  <div class="card">
    <div class="card-head">
      <div class="header-container-mobile d-xl-">
        <div class="row">
          <div class="col-11 title-header"><strong>Gestionar tickets</strong></div>
          <div class="col-1">
            <div class="row mb-4 icon-header">
              <div class="col-6 ">
               <i class="fa-solid fa-magnifying-glass" matTooltip="Consultar" (click)=" submited()"  matTooltipClass="style-tooltip"
                [matTooltipPosition]="'above'" ></i>
              </div>
              <div class="col-6">
                <i class="fa-solid fa-circle-plus" [routerLink]="['/sidenav/tickets/agregar-tickets']"
                  matTooltip="Agregar" matTooltipClass="style-tooltip" [matTooltipPosition]="'above'"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="internal-body-containe">
        <form [formGroup]="formGroup">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Identificacion</label>
            <input type="email" id="correo" class="form-control" placeholder="Texto ..." formControlName="identificacion">
            <!-- <span class="text-danger ps-2" *ngIf="(searchForm.controls.correo.touched || submitted) && searchForm.controls.correo.errors?.required">Municipio obligatorio</span> -->
          </div>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Placa</label>
            <input type="email" id="correo" class="form-control" placeholder="Texto ..." formControlName="placa">
            <!-- <span class="text-danger ps-2" *ngIf="(searchForm.controls.correo.touched || submitted) && searchForm.controls.correo.errors?.required">Municipio obligatorio</span> -->
          </div>
        </div>
        <div class="row mt-2 justify-content-center">
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Fecha/hora</label>
            <div class="input-group date" data-provide="datepicker">
              <div class="form-control d-sm-flex p">
                <input type="date" class="border-date" formControlName="fecha">
              </div>
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="nombre" class="form-label">Estado</label>
            <select class="form-select form-control" formControlName ="estado">
              aria-label=".form-select-lg example">
              <option disabled selected value>Seleccione</option>
              <option *ngFor="let item of estados" [value]="item">{{item}}</option>
            </select>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="container">
          <table class="table table-lg table-container table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">Placa</th>
                <th scope="col">estado</th>
                <th scope="col">Cliente</th>
                <th scope="col">Puesto</th>
                <th scope="col">Hora entreda</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tickets | paginate:page_size:page_number">
                <td>
                  <div class="d-flex align-items-center">
                    {{item.vehiculo.placa}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{item.estado}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{item.cliente.identificacion}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{item.puesto.codigoPuesto}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{item.horaDeEntrada | date : 'mediumTime' }}
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-link btn-sm btn-rounded" *ngIf="validarAcciones(item)"
                    (click)="consultarDetalle(item)" matTooltip="Facturar" matTooltipClass="style-tooltip"
                    [matTooltipPosition]="'right'">
                    <i class="fa-solid fa-right-from-bracket"></i>
                  </button>
                  <button type="button" class="btn btn-link btn-sm btn-rounded" *ngIf="!validarAcciones(item)"
                    (click)="consultarDetalle(item)" matTooltip="Detalle" matTooltipClass="style-tooltip"
                    [matTooltipPosition]="'right'">
                    <i class="fa-solid fa-circle-info"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [length]="length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
            (page)="onPage($event)" aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>