<div div class="body-content">
    <div class="card">
        <div class="card-head">
            <div class="header-container-mobile d-xl-">
                <div class="row mb-4">
                    <div class="col-10 title-header"><span>Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="box-selector box-selector--selected">
                    <app-grafico-lineal></app-grafico-lineal>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="box-selector">
                    <app-grafico-dona></app-grafico-dona>
                </div>
            </div>
        </div>
    </div>
</div>