<div style="background: #333;">
  
  <form  [formGroup]="formGroup" class="sign-in-form">
    <h2 class="title">Sign in</h2>
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" formControlName="username" placeholder="Username" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" formControlName="password" placeholder="Password" />
    </div>
    <button  class="btn solid" (click)="login()" >Login</button>
    <p class="social-text">Or Sign in with social platforms</p>

  </form>
</div>