@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    color: #495057;

   
   
}

.card .card-head {
  padding: 0rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}
.card .card-body {
    padding: 1rem 1.5rem; 
}


.body-content{
    width: calc(100%-5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all 0.5s ease;
    background: #f4f7fa;
    padding: 3rem;
    }
    
    .body-trymed{
        width: calc(100%-16.5625rem);
        margin-left: 16.5625rem;
    }
    
    .body-md-screen{
        width: calc(100%-5rem);
        margin-left: 5rem;
    
    }




    /* Pag principal *

/* End Responsive */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner {
  /* Size */
  height: 4rem;
  width: 4rem;

  /* Create a curve at the top */
  border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;

  animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}



.title-header {
  position: relative;
  top: 24px;
  font-size: 27px;
}

.icon-header{
  position: relative;
  top: 24px;
  font-size: x-large;
}

.table-container {
  -webkit-box-shadow: 4px 4px 25px 0px rgba(110, 136, 138, 0.52);
  -moz-box-shadow: 4px 4px 25px 0px rgba(110, 136, 138, 0.52);
  box-shadow: 4px 4px 25px 0px rgba(110, 136, 138, 0.52);
  border-radius: 5px;
}

